@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @layer responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

.tooltip:nth-child(12n) > .tooltip-child,
.tooltip:nth-child(12n-1) > .tooltip-child,
.tooltip:nth-child(12n-2) > .tooltip-child {
  left: -216px;
}

.scroll-y {
  scroll-behavior: auto;
}
